{
  "$schema": "https://json.schemastore.org/prettierrc",
  "printWidth": 100,
  "useTabs": false,
  "tabWidth": 4,
  "semi": true,
  "singleQuote": false,
  "bracketSpacing": true,
  "htmlWhitespaceSensitivity": "css",
  "vueIndentScriptAndStyle": false,
  "quoteProps": "as-needed",
  "trailingComma": "all",
  "objectWrap": "preserve",
  "bracketSameLine": false,
  "arrowParens": "always",
  "endOfLine": "lf"
}
